<!DOCTYPE html>
<html>
  <head>
    <title>CHANGEME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: true %>
  </head>
  <body>
    <%= render FlashComponent.new(flash: flash) %>
    <main class="container p-4 mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
